/*リセットCSS ここから↓*/
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
-webkit-appearance: none;
border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/*リセットCSS ここまで↑*/

/*共通部分ここから↓*/
#main_title {
    width: auto;
    height: 120px;
    padding-top: 70px;
}

h1{
    font-size: 400%;
    text-align: center;
    margin-bottom: 10px;
}
h2{
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h3{
    font-size: 200%;
}

p {
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.return {
    width: 61px;
    height: 52px;
    margin-top:10px;
    margin-left: 10px;
    position: fixed;
}

/*共通部分ここから↑*/


/*home,houkoku.html↓*/

.homebtnEturan,.newmake{
    width: 700px;
    font-size: 50px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.homebtnHoukoku,.savedata{
    width: 700px;
    font-size: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*home,houkoku.htmlここまで↑*/




/*dataView.html↓*/
.dvtable {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.dvtable tbody td {
    border: solid 1px black;
}

.dvtable h3 {
    text-align: center;
}

.dvtable th,td {
    text-align: center;
    width: 250px;
    height: 80px;
}

.dvtable tbody tr:nth-of-type(2n+1) {
    background-color: #D9D9D9;
}

.dvfooter p {
    display: flex;
    justify-content: space-around;
}

.dvfooter button {
    border: none;
    background-color: white;
    font-size: large;
    font-weight: bold;
}

.dvfooter span {
    font-size: 80%;
}

/*dataView.htmlここまで↑*/

/*dvSearch.html↓*/


.dvsform {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.dsvcheck p {
    display: inline-block;
    vertical-align: top;
}

.dsvcheck div {
    vertical-align: bottom;
    text-align: right;
}

/*dvSearch.html↑*/



/*フレキシブルの設定↓*/

@media screen and (min-width: 710px){
        .br-sp {display: none; }

        .dvStop {
            display: flex;
            justify-content: space-between;
        }
        
    }    

@media screen and (max-width: 710px){        
    .homebtnEturan,.newmake,.homebtnHoukoku,.savedata {
        width: 300px;
        font-size: 40px;
    }

    .dvsform {
        padding-top: 20px;
        width: 400px;
    }
           
    .br-spr {display: none;}

    .roginform div {
        width: 400px !important; 
    }
}

/*フレキシブルの設定↑*/


/*Input_From_1 ここから↓*/
/* 山城さん */
.Input_Form{
    max-width: 1600px;
    min-width: 850px;
}

.input_aria{
    max-width: 1600px;
    min-width: 850px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.input_body_1 .warpper-1 .container , .input_body_1 .warpper-4 .container {
    display: flex;
    justify-content: space-between;
}

.warpper-1, .warpper-2, .warpper-3, .warpper-4, .warpper-5, .warpper-6{  
    margin-left: 15%;
    margin-right: 15%;
}


.warpper-2 input,.warpper-3 input{  /* 応募先企業名と応募先所在地の入力欄 */
    width: 20em;   
}

.warpper-1 p:last-child input{     /* 応募件数の入力欄 */
    width: 5em;
}

.btn_area {
    display: flex;
    justify-content: right;
    margin-left: 15%;
    margin-right: 15%;
}

.btn_item { /*ボタン全体*/
    margin-right: 10px;
}
.btn_area input:last-child{ /* 一次→ボタン用 */
    margin-right: 0;
}


/*Input_From_1用 ここまで↑*/

/* Input_From_2用 再設定ここから↓ */

.input_body_2 .input_aria{
    display: flex;
    justify-content: center;
}

.input_body_2 .warpper-1 textarea {
    resize: vertical;       /*横幅変更*/
    width: 700px;
    height: 100px;   
}



/* Input_From_2用 再設定ここまで↑ */


/*IDここから*/
.ID-From {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.roginform div {
    width: 565px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.rogin-input {
    margin-left: 50px;
    width: 70%;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 2px solid #000;
}

/*ここまで↑*/

/*パスワードここから*/
.password {
    margin-top: 10px !important;
}


/*ここまで↑*/

/*科名ここから*/

/*ここまで↑*/

.p-title {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
}

.info {
    font-size: small;
    color: #F00;
    font-weight: bold;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 40%;
    text-align: center; 
}

/*プルダウンメニュー*/
.rogselect {
    margin-left: 50px;
    width: 350px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    text-align: center;
}


/*ボタン*/

.btn-border {
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 80px;
    letter-spacing: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}







