/*リセットCSS ここから↓*/
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
-webkit-appearance: none;
border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/*リセットCSS ここまで↑*/

/*共通部分ここから↓*/
#main_title {
    width: 100%;
    height: 120px;
    padding-top: 70px;
}

h1{
    font-size: 400%;
    text-align: center;
    margin-bottom: 10px;
}
h2{
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h3{
    font-size: 200%;
}

p {
    
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.return {
    width: 61px;
    height: 52px;
    margin-top:10px;
    margin-left: 10px;
    position: absolute;
}
.button{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}
.button input ,.button button{
 width: 120px;
 height: 40px;   
 
}



/*共通部分ここから↑*/


/*home,houkoku.html↓*/

.homebtnEturan,.newmake{
    width: 700px;
    font-size: 50px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.homebtnHoukoku,.savedata{
    width: 700px;
    font-size: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*home,houkoku.htmlここまで↑*/




/*dataView.html↓*/
.dvtable {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.dvtable tbody td {
    border: solid 1px black;
}

.dvtable h3 {
    text-align: center;
}

.dvtable th,td {
    text-align: center;
    width: 250px;
    height: 80px;
}

.dvtable tbody tr:nth-of-type(2n+1) {
    background-color: #D9D9D9;
}

.dvfooter p {
    display: flex;
    justify-content: space-around;
}

.dvfooter button {
    border: none;
    background-color: white;
    font-size: large;
    font-weight: bold;
}

.dvfooter span {
    font-size: 80%;
}

/*dataView.htmlここまで↑*/

/*dvSearch.html↓*/


.dvsform {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.dsvcheck p {
    display: inline-block;
    vertical-align: top;
}

.dsvcheck div {
    vertical-align: bottom;
    text-align: right;
}

/*dvSearch.html↑*/



/*フレキシブルの設定↓*/

@media screen and (min-width: 710px){
        .br-sp {display: none; }

        .dvStop {
            display: flex;
            justify-content: space-between;
        }
        
    }    

@media screen and (max-width: 710px){        
    .homebtnEturan,.newmake,.homebtnHoukoku,.savedata {
        width: 300px;
        font-size: 40px;
    }

    .dvsform {
        padding-top: 20px;
        width: 400px;
    }
           
    .br-spr {display: none;}

    .roginform div {
        width: 400px !important; 
    }
}

/*フレキシブルの設定↑*/


/*IDここから*/
.ID-From {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.roginform div {
    width: 565px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.rogin-input {
    margin-left: 50px;
    width: 70%;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 2px solid #000;
}

/*ここまで↑*/

/*パスワードここから*/
.password {
    margin-top: 10px !important;
}


/*ここまで↑*/

/*科名ここから*/

/*ここまで↑*/

.p-title {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
}

.info {
    font-size: small;
    color: #F00;
    font-weight: bold;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 40%;
    text-align: center; 
}

/*プルダウンメニュー*/
.rogselect {
    margin-left: 50px;
    width: 350px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    text-align: center;
}


/*ボタン*/

.btn-border {
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 80px;
    letter-spacing: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*pastdata.html↓*/

.big-div {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.div-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.divdiv {
    display: flex;
    width: 50%;
}

.divdiv p {
    margin-top: 0;
}

.p-info {
    width: 45%;
}

.p-view {
    width: 50%;
    background-color: #D9D9D9;
}

.div-detail {
    width: 100%;
}
.div-detail .p-info {
    width: 30%;
}

.div-detail .p-view {
    width: 68%;
}

.test {
    background-color: #cfffff;
}

.test div {
    display: flex;
    margin-bottom: 10px;
}

.test div:first-child p {
    margin-right: 20px;
}

.div-detail div:nth-last-of-type(2) div p, .div-detail div:nth-last-of-type(1) div p {
    margin-right: 0;
}


.page-top {
    width: 70px;
    margin-bottom: 100px;
}

/*pastdata.html↑*/





/*Input_From_1 ここから↓*/
/*
 .p-info {
    width: 45%;
    margin-right: 55%;
}*/

/*Input_From_1 ここまで↑*/
/*
.Input_Form_row_2 {
    width: 40%;
}*/

.input-view_1 div, .docu_sele div , 
.Input_Form_2_1_area_div div{
    font-size: 130%;
    margin-bottom: 10px;
}
.input-view {
    box-sizing: content-box;
    width: 50%;
    height: 25px;
}

.divdiv_col_1 {
    margin-right: 50%;
}

.p-info_col_1 {
    box-sizing: content-box;
    width: 45%;
}

.input-view_1{
    display: flex;
    justify-content: space-around;
}
.Input_Form_2_1_input-view {
    width: 54%;
    height: 50px;
}


.divdiv_width_all {
    width: 100%;
    display: flex;
}

.divdiv_width_all .p-info {
    width: 22%;
}
.docu_sele {
    width: 78%;
    justify-content: space-between;
 }
 .docu_sele div { 
    width: 32%;
    display: inline-block;
 }
 .div_oder_area {
    width: 50% !important;
 }
 .div_oder_area input:last-child {
    width: 50%;
 }
 

/* Input_Form_3用 ここから↓ */

.thoughts, h3 {
    margin-top: 30px;
}

.box {
    width:565px;
    margin-left: auto;
    margin-right: auto;
}

/* .thoughts-text {
    text-align: center;
    padding: 0.5em;
    width: 850px;
    height: 100px;
} */

.thoughts-text {
    width: 100%;
    height: 150px;
    margin-top: 30px;
}
/*
ゆうとさんの
.button {
    text-align: right;
    margin-top: 60px;
    margin-bottom: 50px;
    letter-spacing: 1.5em;
}

.cancel,.keep,.confirmation {
    width: 150px;
    height: 50px;
    letter-spacing: 0.3em;
    font-weight: bold;
}*/

/* Input_Form_3用 ここまで↑ */

/* Input_Form_2_1～3用 ここから↓*/

.Input_area_2_1_p_first {
    width: 50%;
}
.p_Input_area_2_1_p_second{
    width: 25%;
}

.Input_Form_2_1_input-view {
    width: 54%;
    height: 50%;
}
.Input_Form_2_1_area_div {
    width: 75%;
    justify-content: space-between;
}
.Input_Form_2_1_area_div div {
    width: 20%;
    display: inline-block;
}

/* Input_Form_2_1～3用 ここまで↑*/
 
/*フレキシブル設定↓*/

 @media screen and (min-width: 760px){
    .br-sp {display: none; }
}

 
@media screen and (max-width: 760px){

    .div-info{
        display: block;
        margin-top: 50px;
        margin-left: 10%;
    }

    .divdiv {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .big-div {
        width: 430px;
    }

    .div-detail div {
        display: block;
    }

    .div-detail div .p-info {
        width: auto;
    }
    .divdiv_width_all {
        display: block;
    }
    .p_Input_area_2_1_p_second{
        width: 50%;
    }



    .div-detail div .p-view {
        width: 100%;
    }

    .divdiv_width_all .p-info {
        width: 45%;
    }
    .docu_sele , .Input_Form_2_1_area_div ,
    .Input_Form_2_1_input-view {
        width: 100%;
    }
    .docu_sele div {
        width: 43%;
    }
    .Input_Form_2_1_area_div div {
        width: 32%;
    }
    
    .div_oder_area input:last-child {
        width: 34%;  
     }

     .div_oder_area {
        width: 100% !important;
     }
}    

/*フレキシブル設定↑*/











