/*home,houkoku.html↓*/

.homebtnEturan,.newmake{
    width: 700px;
    font-size: 50px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.homebtnHoukoku,.savedata{
    width: 700px;
    font-size: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*home,houkoku.htmlここまで↑*/

/*フレキシブルの設定↓*/


@media screen and (min-width: 710px){
    .br-sp {display: none; }
}    


@media screen and (max-width: 710px){        
    .homebtnEturan,.newmake,.homebtnHoukoku,.savedata {
        width: 300px;
        height: 115px;
        font-size: 40px;
    }
}

/*フレキシブルの設定↑*/
