/*pastdata.html↓*/
body{
    /* serchと統一 */
    background-color: #ffdbed;
}

.big-div {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.big-div p {
    font-size: 110%;
}

.div-info { 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    background-color: #cfffff;
    padding: 10px;
    box-sizing: border-box;
}

.div-info .p-info , .div-detail .p-info {
    text-align-last: justify;
}

.div-info .p-view {
    text-align: center;
}



.div-info div:nth-of-type(1), .div-info div:nth-of-type(2), .div-info div:nth-of-type(3) {
    width: 33%;
}

.div-info div:nth-of-type(1) .p-info,
.div-info div:nth-of-type(2) .p-info,
.div-info div:nth-of-type(3) .p-info{
    width: 46%;

}

.div-info div:nth-of-type(3) .p-info,
.div-info div:nth-of-type(3) .p-view,
.div-info div:nth-of-type(5) .p-info,
.div-info div:nth-of-type(5) .p-view,
.div-info div:nth-of-type(7) .p-info,
.div-info div:nth-of-type(7) .p-view {
    width: 50%;
}


.div-info div:nth-of-type(4),
.div-info div:nth-of-type(6) {
    width: 66.5%;
}

.div-info div:nth-of-type(4) .p-info,
.div-info div:nth-of-type(6) .p-info {
    width: 23%;
}

.div-info div:nth-of-type(5),
.div-info div:nth-of-type(7) {
    width: 33%;
}

/* .div-info div:nth-of-type(8) .p-view {
    width: 25%;
} */



.divdiv {
    display: flex;
    width: 50%;
}

.divdiv p {
    margin-top: 0;
}

.div-info div:nth-of-type(2) .p-view,
.div-info div:nth-of-type(3) .p-view,
.div-info div:nth-of-type(5) .p-view,
.div-info div:nth-of-type(7) .p-view {    
    height: 25px;
}

.p-info {
    width: 30%;
}

.p-view {
    width: 55%;
    background-color: #D9D9D9;
}

.div-detail {
    width: 100%;
}

.test {
    background-color: #cfffff;
    padding-bottom: 5px;
}

.div-detail .p-view {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}
.test div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.test .p-view {
    width: auto;
    text-align-last: left;
}

.test .p-info {
    text-align-last: auto;
    width: auto;
}

.test div:first-child p {
    margin-right: 20px;
}

.div-detail div:nth-last-of-type(2) div p, .div-detail div:nth-last-of-type(1) div p {
    margin-right: 0;
}

.page-top {
    width: 70px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/*pastdata.html↑*/



/*savedata.html↓*/

/* .div-info div:nth-of-type(1), .div-info div:nth-of-type(2), .div-info div:nth-of-type(3) {
    width: 33%;
} */





/*savedata.html↑*/


/*フレキシブル設定↓*/

@media screen and (min-width: 760px){
    .br-sp {display: none; }
}



@media screen and (max-width: 760px){

    .big-div {
        width: 430px;
    }

    .div-info{
        display: block;
        margin-top: 50px;
    }

    .div-info .p-view {
        width: 55%;
    }


    .divdiv {
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
        width: 100% !important;
    }

    .divdiv .p-info {
        width: 30% !important;
    }

    .divdiv .p-view {
        width: 65% !important;
    }

    .p-info , .test div p {
        margin-bottom: 0;
    }

    .test {
        padding-bottom: 10px;
    }

    .div-info .p-view {
        width: 55%;
    }

    .div-detail .p-info {
        text-align-last: left;
    }

    .div-detail div .p-info {
        width: auto;
    }

}    

/*フレキシブル設定↑*/

