/*リセットCSS ここから↓*/
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
-webkit-appearance: none;
border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/*リセットCSS ここまで↑*/

/*共通部分ここから↓*/
#main_title {
    width: 100%;
    height: 120px;
    padding-top: 70px;
}

h1{
    font-size: 400%;
    text-align: center;
    margin-bottom: 10px;
}
h2{
    font-size: 250%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h3{
    font-size: 200%;
}

p {
    
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.return {
    width: 61px;
    height: 52px;
    margin-top:10px;
    margin-left: 10px;
    position: absolute;
}

.button{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

.button input ,.button button{
    width: 120px;
    height: 40px;   
}

.change {
    text-align: center;
    margin-bottom: 20px;
}
.change button {
    width: 70px;
    height: 30px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 1em;
}

.change button:first-child {
    margin-right: 100px;
}


/* .change {
    text-align: center;
    margin-bottom: 20px;
}

.change button {
    width: 70px;
    height: 30px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 1em;
}

.change button:first-child {
    margin-right: 100px;
} */



/*グローバルメニュー↓*/
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    color: #fff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 629px) {
    .button {
    margin-right: 2.5rem;     
    }
}

.brand {
    font-weight: bold;
    font-size: 20px; 
}

.site-header {
    position: relative;
    background-color: #def7ff; 
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; 
}

@media (min-width: 630px) {
    .site-header__wrapper {
        justify-content: initial; 
    }
}

@media (min-width: 630px) {
    .site-header__middle {
    margin-left: auto; 
}
}

@media (max-width: 629px) {
    .site-header__end {
    padding-right: 4rem; 
}
}

@media (min-width: 630px) {
    .nav__wrapper {
    display: flex; 
}
}

@media (max-width: 629px) {
    .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
}
    .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

li.nav__item {
    list-style-type: none;
}
.nav__item a {
    display: block;
    padding: 1rem;
}

.nav__toggle {
    display: none; 
}

@media (max-width: 629px) {
    .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; 
    }
}


/*グローバルメニュー↑*/








