body{
    background-color: rgb(212, 233, 234);
}

.prot_div{
    width: 750px;
    margin: 50px auto 0 auto;
    
}
.new_title{
    display: flex;
    
}
.new_title div{
    width: 200px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
}

.new_title div:nth-of-type(1){
    background-color: #ffffff;
}

.new_title div:nth-of-type(2){
    background-color: #4bf0a9;
}
.prot_body1,.prot_body2{
    width: 100%;
    height: 300px;
}
.prot_body1{
    background-color: #ffffff;
    position: relative;
    box-shadow: 2px 2px 4px ;
}

.prot_body2{
    background-color: #4bf0a9;
    display: none;
    box-shadow: 2px 2px 4px;
}
.prot_body1 button, .prot_body2 button{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 30px;
    margin-top: 80px;
    margin-left: 100px;
    background-color: #0539c9ce;
    color: #ffffff;
    
}

i{
    font-size: 20px; 
}

.prot_body2 button:first-child{
    margin-left: 100px;
}
.prot_body2 button:last-child{
    margin-left: 300px;
}

/* フレックス設定 */
/*フレキシブル設定↓*/

@media screen and (min-width: 760px){
    
}



@media screen and (max-width: 760px){
    
    h1{
        font-size: 300%;
    }

    .prot_div{
        width: 550px;
        margin: 50px auto 0 auto;
        
    }

}    

/*フレキシブル設定↑*/

