
/*savedata.html↓*/


.big-div {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.big-div p {
    font-size: 110%;
}

.div-info { 
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    background-color: #cfffff;
    padding: 10px;
    box-sizing: border-box;
}

.div-info .p-info , .div-detail .p-info {
    text-align-last: justify;
}

.div-info .p-view {
    text-align: center;
}



.div-info div {
    width: 33%;
}

.div-info div .p-info {
    width: 46%;
}

.div-info div:nth-of-type(3) .p-info,
.div-info div:nth-of-type(3) .p-view,
.div-info div:nth-of-type(6) .p-info,
.div-info div:nth-of-type(6) .p-view,
.div-info div:nth-of-type(8) .p-info,
.div-info div:nth-of-type(8) .p-view,
.div-info div:nth-of-type(10) .p-info,
.div-info div:nth-of-type(10) .p-view {
    width: 50%;
}


.div-info div:nth-of-type(7),
.div-info div:nth-of-type(9) {
    width: 66.5%;
}

.div-info div:nth-of-type(7) .p-info,
.div-info div:nth-of-type(9) .p-info {
    width: 23%;
}

.div-info div:nth-of-type(8),
.div-info div:nth-of-type(10) {
    width: 33%;
}




.divdiv {
    display: flex;
    width: 50%;
}

.divdiv p {
    margin-top: 0;
} 


.p-info {
    width: 30%;
}

.p-view {
    width: 55%;
    background-color: #D9D9D9;
}

.div-detail {
    width: 100%;
}

.test {
    background-color: #cfffff;
    padding-bottom: 5px;
}


.div-detail .p-view {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}


.test div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.test .p-info {
    width: auto;
    text-align-last: left;

}

.test div:first-child p {
    margin-right: 20px;
}

.div-detail div:nth-last-of-type(2) div p, .div-detail div:nth-last-of-type(1) div p {
    margin-right: 0;
}

.svdata_option button:first-child {
    margin-right: 100px;
}

.page-top {
    width: 70px;
    margin-bottom: 100px;
}

.pg-top {
    border-radius: 50%;
}

.button_d{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}


.button_d form {
    padding-left: 10px;
}

.button_d input ,.button button{
    width: 120px;
    height: 40px;   
}

.as_status {
    margin-left: auto;
    text-align: center;
    border: 3px solid red;
    border-radius: 5%;
    width: 180px;
}


/*savedata.html↑*/


/*フレキシブル設定↓*/

@media screen and (min-width: 760px){
    .br-sp {display: none; }
}



@media screen and (max-width: 760px){

    .big-div {
        width: 430px;
    }

    .div-info{
        display: block;
        margin-top: 50px;
    }

    .divdiv {
        justify-content: space-around;
        margin-right: auto;
        margin-left: auto;
        width: 100% !important;
    }
    
    .div-info .p-view {
        width: 55%;
    }

    .divdiv .p-info {
        width: 30% !important;
    }

    .divdiv .p-view {
        width: 65% !important;
    }

    .p-info , .test div p {
        margin-bottom: 0;
    }

    .test {
        padding-bottom: 10px;
    }


    .div-detail .p-info {
        text-align-last: left;
    }


    .div-detail div .p-info {
        width: auto;
    }


}    

/*フレキシブル設定↑*/

