/*pastdata.html 流用↓*/
.big-div {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #f6f6f6;
}

.div-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.divdiv {
    display: flex;
    width: 50%;
}

.divdiv p {
    margin-top: 0;
}
.divdiv .p-info, .p-info_col_1, .divdiv_width_all .p-info  {
    text-align-last: justify;
}
.p-info {
    width: 45%;
}
/* これのインプットは 114行目にある(input_width)*/
/* ～次試験日付 */
.p-width_1 {
    width: 23%;     
}
/* 開始日時と終了日時 */
.p-width_2 {
    width: 46%;
}

.p-view {
    width: 50%;
    background-color: #D9D9D9;
}

.div-detail {
    width: 100%;
}
.div-detail .p-info {
    width: 30%;
}

.div-detail .p-view {
    width: 68%;
}

.test {
    background-color:   #ffffff;
}

.test div {
    display: flex;
    margin-bottom: 10px;
}

.test div:first-child p {
    margin-right: 20px;
}

.div-detail div:nth-last-of-type(2) div p, .div-detail div:nth-last-of-type(1) div p {
    margin-right: 0;
}


.page-top {
    width: 70px;
    margin-bottom: 100px;
}


/*pastdata.html 流用↑*/






.input-view_1  div div, .docu_sele div , 
.Input_Form_2_1_area_div div{
    font-size: 130%;
    margin-bottom: 10px;
}
.input-view {
    box-sizing: content-box;
    width: 40%;
    height: 25px;
}
.Form_1 .input-view {
    width: 80%;
}

.select_box {
    width: 84%;
}

.divdiv_col_1 {
    width: 100%;
}
.divdiv_col_1 input {
    width: 100%;
}
.input_width input{
    width:  30%;
}

.input-view_1{
    display: flex;
    width: 45%;
}
.Input_Form_2_1_input-view {
    width: 54%;
    height: 50px;
}


.divdiv_width_all {
    width: 100%;
    display: flex;
}

.divdiv_width_all .p-info {
    width: 23%;
}
.docu_sele {
    width: 100%;
    justify-content: space-between;
 }
 .docu_sele div { 
    width: 32%;
    display: inline-block;
 }
 

 

/* Input_Form_3用 ここから↓ */

.thoughts, h3 {
    margin-top: 30px;
}

.box {
    width:565px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px 25px 5px 25px;
    background-color: #f6f6f6;
}

/* .thoughts-text {
    text-align: center;
    padding: 0.5em;
    width: 850px;
    height: 100px;
} */

.thoughts-text {
    width: 100%;
    height: 150px;
    margin-top: 30px;
}


/* Input_Form_3用 ここまで↑ */

/* Input_Form_2_1～3用 ここから↓*/

.Input_area_2_1_p_first {
    width: 50%;
}
.p_Input_area_2_1_p_second{
    width: 25%;
}

.Input_Form_2_1_area_div {
    width: 75%;
    justify-content: space-between;
}
.Input_Form_2_1_area_div div {
    width: 49%;
    display: inline-block;
}


.test {
    width: 45%;
}
.testsAll {
    background-color: #cfffff;
    padding-bottom: 10px;
}
.text-tests {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.divdiv_width_all_ex {
    width: 100%;
}

/*JSで作った注意事項のパラグラフをブロック要素に上書き*/
#row_1_para{
    margin-top: 1%;
    margin-bottom: 10px;
    font-size: 30%;
    color: red;
}
.denger_field {
    width: auto;
}
.divsize {
    width: 45%;
}
.input-view_1 div {
    display: flex;
}
.radio_right {
    margin: 0 10px;
}
.title-tests{
    padding-left: 5%;
}



/* Input_Form_2_1～3用 ここまで↑*/


 
/*フレキシブル設定↓*/

@media screen and (min-width: 760px){
    .br-sp {display: none; }
}

 
@media screen and (max-width: 760px){

    
    .big-div {
        width: 430px;
        margin-top: 20px;
        padding: 10px;
    }

    .div-info{
        display: block;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .divdiv {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .div-detail div {
        display: block;
    }

    .Input_Form_2_1_area_div {
        display: flex;
        margin-right: 0;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .Input_Form_2_1_area_div div{
        width: 45%;
        font-size: 120%;
    }
    .Input_Form_2_1_area_div div:nth-of-type(7){
        width: 100%;
    }
    .Input_Form_2_1_area_div div:nth-of-type(8),
    .Input_Form_2_1_area_div div:nth-of-type(9),
    .Input_Form_2_1_area_div div:nth-of-type(10){
        width: 25%;
    }
    .comm{
        display: none;
    }
    
    .divdiv_width_all {
        display: block;
    }
    .p_Input_area_2_1_p_second{
        width: 50%;
    }

    .div-detail div .p-view {
        width: 100%;
    }

    .divdiv_width_all .p-info ,.p-info_col_1{
        width: 45%;
    }
    
    .Input_Form_2_1_input-view {
        width: 80%;
    }
    .docu_sele div {
        width: 49%;
        font-size: 120%;
    }
    .docu_sele div:nth-of-type(3){
        width: 100%;
    }
    /* ステップ２ ～次試験 p & input */
    .p-width_1 {
        width: 46%;
    }
    .input_width input {
        width: 40%;
}
   /*2行ぞろえの時 7番目の要素だけ一列ぞろえにする設定
    .Input_Form_2_1_area_div div:nth-of-type(7) {
        width: 100%;
    }*/

    /*Input_Form_3*/
    @media screen and (max-width: 760px){
        .box {
            width: 390px;
        }
        .thoughts,.schedule {
            width: 390px;
        }
        .button {
            margin-left: auto;
            margin-right: auto;
        }
    }
    /*Input_Form_3 ↑*/

}    

/*フレキシブル設定↑*/